<div id="superuser-footer">
  <div class="navigation-item"><strong>RADLIBS! Administration</strong></div>
  <div class="navigation-item"><%= link_to 'Summary', radmin_path %></div>
  <div class="navigation-item"><%= link_to 'Users', users_path %></div>
  <div class="navigation-item"><%= link_to 'Radlibs', radlibs_path %></div>
  <div class="navigation-item"><%= link_to 'Application Settings', app_settings_path %></div>
  <div class="navigation-item"><%= link_to 'Destroy All Data', toilet_flush_path %></div>
  <div class="navigation-item">Radlibs: <%= num_radlibs %></div>
  <div class="navigation-item">Users: <%= num_users %></div>
</div>